<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Graffiti App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.prod.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue/dist/browser/plugin.mjs",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local/dist/browser/index.js"
                }
            }
        </script> -->
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.prod.js",
                    "@graffiti-garden/wrapper-vue": "../../dist/browser/plugin.mjs",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local/dist/browser/index.js"
                }
            }
        </script>
        <style>
            .waving {
                animation: wave 1s infinite;
            }
            @keyframes wave {
                0% {
                    transform: rotate(0deg);
                }
                25% {
                    transform: rotate(15deg);
                }
                50% {
                    transform: rotate(0deg);
                }
                75% {
                    transform: rotate(-15deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <template id="my-template">
            <h1>My Graffiti App!</h1>
            <p>
                This is an example of a
                <a href="https://graffiti.garden">Graffiti</a> app built with
                <a href="https://vuejs.org"> Vue.js </a> in a single HTML file.
                Right click and choose "View Page Source" to see the complete
                source code or see it in context
                <a
                    href="https://github.com/graffiti-garden/wrapper-vue/tree/main/examples/cdn-importmap"
                    >on Github</a
                >. This app imports the
                <a href="https://github.com/graffiti-garden/wrapper-vue"
                    >Graffiti Vue.js wrapper</a
                >
                and the
                <a
                    href="https://github.com/graffiti-garden/implementation-local"
                    >PouchDB implementation of Graffiti</a
                >
                via CDN using an
                <a
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script/type/importmap"
                    >import map</a
                >.
            </p>

            <!--vvvv Begin login vvvv-->
            <p v-if="$graffitiSession.value">
                Logged in as: {{ $graffitiSession.value.actor }}
                <button @click="$graffiti.logout($graffitiSession.value)">
                    Log out
                </button>
            </p>
            <p v-else-if="$graffitiSession.value === null">
                <button @click="$graffiti.login()">Log in</button>
            </p>
            <p v-else>
                <button>Loading...</button>
            </p>
            <!--^^^^ End login ^^^^-->

            <p>
                <label for="channel">Channel for posts and waves: </label>
                <input id="channel" v-model="channel" />
            </p>

            <!--vvvv Begin waves vvvv-->
            <graffiti-discover
                v-slot="{ objects: waves, isInitialPolling }"
                :channels="[channel]"
                :schema="{
                    properties: {
                        value: {
                            required: ['activity'],
                            properties: {
                                activity: { enum: ['Wave'] }
                            }
                        }
                    }
                }"
            >
                <template v-if="$graffitiSession.value">
                    <button
                        v-if="!waves.some(
                            wave => wave.actor === $graffitiSession.value.actor
                        )"
                        @click="$graffiti.put({
                            value: { activity: 'Wave' },
                            channels: [ channel ]
                        }, $graffitiSession.value)"
                    >
                        👋
                    </button>
                    <button
                        v-else
                        class="waving"
                        @click="waves.filter(
                            wave => wave.actor === $graffitiSession.value.actor
                        ).map(wave => $graffiti.delete(wave, $graffitiSession.value))"
                    >
                        👋
                    </button>
                </template>
                <template v-else>
                    <p>To wave 👋 you need to be logged in.</p>
                </template>

                <p v-if="isInitialPolling">Loading...</p>
                <p v-else>
                    {{ waves.length }} people have waved from this channel~
                </p>
            </graffiti-discover>
            <!--^^^^ End waves ^^^^-->

            <!--vvvv Begin posts vvvv-->
            <form
                @submit.prevent="
                    content.length &&
                    $graffiti.put({
                        value: {
                            content,
                            published: Date.now()
                        },
                        channels: [ channel ]
                    }, $graffitiSession.value);
                    content='';"
            >
                <label for="post">Post:</label>
                <input id="post" v-model="content" />
                <input type="submit" value="Post" />
            </form>
            <graffiti-discover
                autopoll
                v-slot="{ objects: posts, poll }"
                :channels="[ channel ]"
                :schema="{
                    properties: {
                        value: {
                            required: ['content', 'published'],
                            properties: {
                                content: { type: 'string' },
                                published: { type: 'number' }
                            }
                        }
                    }
                }"
            >
                <button @click="poll()">Refresh Posts</button>
                <ul>
                    <li
                        v-for="post in posts.sort((a, b) => b.value.published - a.value.published)"
                        :key="post.url"
                    >
                        <div>{{ post.actor }}</div>
                        <div>
                            {{ new Date(post.lastModified).toLocaleString() }}
                        </div>
                        <div class="content" v-if="editing !== post.url">
                            {{ post.value.content }}
                        </div>
                        <form
                            v-else
                            @submit.prevent="
                                savingEdits = true;
                                $graffiti.patch(
                                    {
                                        value: [{ op: 'replace', path: '/content', value: editText }],
                                    },
                                    post,
                                    $graffitiSession.value
                                ).then(() => {
                                    savingEdits = false;
                                    editing = '';
                                });"
                        >
                            <input type="text" v-model="editText" />
                            <input
                                type="submit"
                                :value="savingEdits ? 'Saving...' : 'Save'"
                                :disabled="savingEdits"
                            />
                        </form>
                        <menu>
                            <li
                                v-if="post.actor === $graffitiSession.value?.actor"
                            >
                                <button
                                    @click="$graffiti.delete(post, $graffitiSession.value)"
                                >
                                    Delete
                                </button>
                            </li>
                            <li
                                v-if="post.actor === $graffitiSession.value?.actor"
                            >
                                <button
                                    @click="
                                        editText = post.value.content;
                                        editing = post.url;"
                                >
                                    Edit
                                </button>
                            </li>
                            <li v-if="$graffitiSession.value">
                                <graffiti-discover
                                    v-slot="{ objects: bookmarks }"
                                    :channels="[ post.url ]"
                                    :schema="{
                                        properties: {
                                            value: {
                                                required: ['activity', 'target'],
                                                properties: {
                                                    activity: { enum: ['Bookmark'] },
                                                    target: { enum : [ post.url ] },
                                                }
                                            },
                                            actor: {
                                                enum: [ $graffitiSession.value.actor ]
                                            }
                                        }
                                    }"
                                >
                                    <button
                                        v-if="bookmarks.length"
                                        @click="bookmarks.forEach(
                                            bookmark => $graffiti.delete(
                                                bookmark,
                                                $graffitiSession.value))"
                                    >
                                        Bookmarked
                                    </button>
                                    <button
                                        v-else
                                        @click="$graffiti.put({
                                            value: {
                                                activity: 'Bookmark',
                                                target: post.url,
                                            },
                                            channels: [
                                                post.url,
                                                $graffitiSession.value.actor,
                                            ],
                                            allowed: [],
                                        }, $graffitiSession.value)"
                                    >
                                        Bookmark
                                    </button>
                                </graffiti-discover>
                            </li>
                        </menu>
                    </li>
                </ul>
            </graffiti-discover>
            <!--^^^^ End posts ^^^^-->

            <!--vvvv Begin bookmarks vvvv-->
            <h2>My Bookmarks</h2>
            <graffiti-discover
                v-if="$graffitiSession.value"
                v-slot="{ objects: bookmarks }"
                :channels="[ $graffitiSession.value?.actor ]"
                :schema="{
                    properties: {
                        value: {
                            required: ['activity', 'target'],
                            properties: {
                                activity: { enum: ['Bookmark'] },
                                target: { type: 'string' },
                            }
                        },
                        actor: {
                            enum: [ $graffitiSession.value.actor ]
                        }
                    }
                }"
            >
                <ul>
                    <template v-for="bookmark of bookmarks" :key="bookmark.url">
                        <graffiti-get
                            v-slot="{ object: post }"
                            :url="bookmark.value.target"
                            :schema="{
                                    properties: {
                                        value: {
                                            required: ['content'],
                                            properties: {
                                                content: { type: 'string' }
                                            }
                                        }
                                    }
                                }"
                        >
                            <li v-if="post">{{ post.value.content }}</li>
                            <li v-else-if="post===undefined">Loading...</li>
                        </graffiti-get>
                    </template>
                </ul>
            </graffiti-discover>
            <!--^^^^ End bookmarks ^^^^-->
        </template>
        <script type="module">
            import { createApp } from "vue";
            import { GraffitiPlugin } from "@graffiti-garden/wrapper-vue";
            import { GraffitiLocal } from "@graffiti-garden/implementation-local";

            createApp({
                template: document.getElementById("my-template").innerHTML,
                // Declare reactive data
                data() {
                    return {
                        channel: "graffiti-client-demo",
                        content: "",
                        editing: "",
                        editText: "",
                        savingEdits: false,
                    };
                },
            })
                .use(GraffitiPlugin, {
                    graffiti: new GraffitiLocal(),
                })
                .mount("#app");
        </script>
    </body>
</html>
